body {
  background: #262626;
  color: #cccccc; }

header h1 {
  margin-left: 20px; }

.navbar {
  border-radius: 0;
  background: #191919;
  border-top: 1px solid #101010;
  border-bottom: 1px solid #101010; }

footer {
  background: #191919;
  border-top: 1px solid #101010;
  margin-top: 20px;
  padding: 0 20px 20px; }

p span {
  display: block; }

.navbar-btn {
  background: #404040;
  color: #cccccc; }

.copyright {
  padding-top: 20px; }

header h1 {
  text-align: center; }

a:hover {
  cursor: pointer; }

#main-page #top-carousel {
  margin: 0 auto; }
  #main-page #top-carousel img {
    height: 400px !important;
    width: 100%; }
  #main-page #top-carousel .carousel-caption {
    text-align: left; }
    #main-page #top-carousel .carousel-caption .time a {
      margin: 10px;
      background-color: rgba(0, 0, 0, 0.2); }

#main-page .last-news {
  background: #191919;
  color: #cccccc;
  border-top: 1px solid #101010;
  border-bottom: 1px solid #101010;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 20px 20px; }
  #main-page .last-news img {
    width: 100%;
    border-radius: 10px; }

#main-page .movie-in-slider {
  padding-left: 30px; }
  #main-page .movie-in-slider > p {
    color: #8c8c8c; }

#main-page #bottom-carousel {
  margin-bottom: 20px; }
  #main-page #bottom-carousel .carousel-inner {
    width: 90%;
    margin: 0 auto; }
  #main-page #bottom-carousel .carousel-control {
    width: 5%; }

#now-showing .thumbnail {
  margin: 0 auto;
  background-color: #404040; }

#now-showing .page-header {
  border-bottom-color: #6F7980; }

#now-showing h1 {
  color: #cccccc; }

#now-showing h4 {
  margin-bottom: 5px; }

#now-showing figure {
  margin: 0 auto 20px;
  text-align: center;
  color: #cccccc; }

#now-showing figcaption {
  text-align: center; }

.timetable-accordion .panel {
  background-color: #191919;
  border: 1px solid #101010; }

.timetable-accordion .some-data {
  margin: 20px; }
  .timetable-accordion .some-data h4 {
    font-weight: bold;
    margin-top: 15px; }
  .timetable-accordion .some-data .time {
    padding: 5px; }
    .timetable-accordion .some-data .time a {
      background-color: #262626;
      display: block;
      border-radius: 5px;
      text-align: center; }

.description {
  text-align: justify; }

.poster {
  max-width: 150px;
  margin: 0 auto; }

.imdb {
  margin-top: 15px; }

.info {
  margin-bottom: 15px; }

.info-item {
  color: #00afea;
  margin-top: 20px; }
  .info-item ul {
    list-style: none;
    padding-left: 20px; }
  .info-item h6 {
    color: #cccccc;
    font-size: 0.9em;
    margin-bottom: 0; }

.fotorama-wrapper {
  margin-top: 40px; }

#timetable-page .timetable-item {
  border-bottom: 1px solid #6F7980;
  margin-top: 30px;
  padding-bottom: 30px; }

#timetable-page .timetable-part {
  padding-left: 40px; }
  #timetable-page .timetable-part h3 {
    margin-bottom: 20px;
    margin-top: 0;
    border-bottom: 1px solid #6F7980;
    padding-bottom: 5px; }

#timetable-page .some-data h4 {
  font-weight: bold;
  font-size: 1.1em; }

#timetable-page .some-data .time {
  padding: 5px 10px; }
  #timetable-page .some-data .time a {
    background-color: #404040;
    display: block;
    border-radius: 10px;
    text-align: center; }

#timetable-page .timetable-poster {
  border-radius: 10px;
  width: 100%;
  max-width: 200px;
  display: block;
  margin: 0 auto; }

#order-page .cinema-hall {
  border: 1px solid #9A73DE;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  padding: 10px; }

#order-page .display {
  width: 350px;
  height: 15px;
  border-radius: 20px 20px 0 0;
  background: #eee;
  color: #8d8d8d;
  padding-bottom: 5px; }

#order-page .seats {
  display: inline-block;
  margin-top: 30px; }

#order-page .row-of-seats {
  clear: both;
  border-bottom: 1px solid #eee; }

#order-page .seat {
  height: 20px;
  width: 20px;
  background: #9A73DE;
  float: left;
  border-radius: 5px;
  margin: 3px 1px;
  cursor: pointer; }

#order-page .seat span {
  color: #eee; }

#order-page #row10, #order-page #row9, #order-page #row8, #order-page #row7, #order-page #row6 {
  margin-left: 42px; }

#order-page #row1, #order-page #row2, #order-page #row3, #order-page #row4, #order-page #row5 {
  margin-left: 63px; }

#order-page .right {
  float: right;
  margin-left: 20px;
  padding-top: 3px;
  color: #8d8d8d; }

#order-page div.unavailable_seat {
  background: #999;
  cursor: default; }

#order-page div.selected_seat {
  background: #C3C300; }

#all-news article {
  padding: 20px; }
  #all-news article p {
    text-align: justify; }
  #all-news article img {
    border-radius: 5px;
    width: 100%; }
