<div class="container">
    <div id="all-news" class="row">
        <article class="col-lg-4 col-md-6 col-sm-6 col-xs-12" ng-repeat="item in all_news.all_news">
            <img ng-src={{item.image}}>
            <header>
                <h3><a ng-href="#news/{{item._id}}">{{item.title}}</a></h3>
                <p>{{item.createdAt | date:'dd.MM.yyyy'}}</p>
            </header>
            <p>{{item.text | limitTo: 200}}<a ng-href="#news/{{item._id}}">...</a></p>
        </article>
    </div>
</div>
