 <div id="contact-page" class="container">
    <div class="row">
        <div class="col-lg-7">
            <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d7498.115656577763!2d-155.82406812004592!3d20.006087504032603!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x795387315d75c82f%3A0xb0899cb0ee7f5efd!2zTWF1bmEgS2VhIEJlYWNoLCBNYXVuYSBLZWEgQmVhY2ggRHIsIFdhaW1lYSwgSEkgOTY3NDMsINCh0L7QtdC00LjQvdC10L3QvdGL0LUg0KjRgtCw0YLRiw!3m2!1d20.00469!2d-155.824668!5e0!3m2!1sru!2sua!4v1435843070290" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="col-lg-5">
                <h3>Mauna Kea Beach</h3>
                <p>Mauna Kea Beach Dr</p>
                <p>Waimea, HI 96743</p>
        </div>
    </div>
 </div>

