<section id="main-page">
    <!-- Слайдер -->
    <section id="top-carousel" class="carousel slide">
        <ol class="carousel-indicators">
            <li class="active" data-target="#top-carousel" data-slide-to="0"></li>
            <li data-target="#top-carousel" data-slide-to="1"></li>
            <li data-target="#top-carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <img src="">

                <div class="carousel-caption">
                    <div class="row">
                        <div class="col-lg-4 col-lg-offset-8 col-md-4 col-md-offset-8 col-sm-4 col-sm-offset-8 col-xs-4 col-xs-offset-8">
                            <a href="#"><h1>Месники</h1></a>

                            <p>На екранах з 30 червня</p>
                            <button type="button" class="btn-info">Забронювати</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="">

                <div class="row carousel-caption">
                    <div class="col-lg-4 col-lg-offset-8 col-md-4 col-md-offset-8 col-sm-4 col-sm-offset-8 col-xs-4 col-xs-offset-8">
                        <a href="#"><h1>Ангели і демони</h1></a>

                        <div class="row">
                            <p>Купити квиток</p>

                            <p>24 червня</p>

                            <div class="col-lg-3 time"><a>16.30</a></div>
                            <div class="col-lg-3 time"><a>18.30</a></div>
                            <div class="col-lg-3 time"><a>20.30</a></div>
                            <div class="col-lg-3 time"><a>22.30</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="">
            </div>
        </div>
        <a href="#top-carousel" class="left carousel-control" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a href="#top-carousel" class="right carousel-control" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </section>

    <!-- Останні новини -->
    <section class="row last-news">
        <div class="col-lg-6" ng-repeat="item in home.home.news">
            <header>
                <a ng-href="#news/{{item._id}}"><h3>{{item.title}}</h3></a>
                <h4>{{item.createdAt | date:'dd.MM.yyyy'}}</h4>
            </header>
            <div class="row">
                <div class="col-lg-4">
                    <img class="news-image" ng-src="{{item.image}}">
                </div>
                <div class="col-lg-8">
                    <p>{{item.text}}</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Останні фільми-->
    <section>
        <figure class="col-lg-2" ng-repeat="movie in home.home.movies">
            <img ng-src={{movie.images.thumbnail}}>
            <figcaption>
                <a ng-href="#movie/{{movie._id}}">
                    <h4>{{movie.title}}</h4>
                </a>
            </figcaption>
        </figure>
    </section>
</section>
