<section class="container" id="movie_page">
    <div class="embed-responsive embed-responsive-16by9">
        <p>{{movie.currentMovie.trailer}}</p>
        <iframe class="embed-responsive-item" ng-src="{{movie.currentMovie.trailer}}" allowfullscreen></iframe>
    </div>
    <div class="page-header">
        <h2>{{movie.currentMovie.title}}</h2>
        <h5>{{movie.currentMovie.englishTitle}}</h5>
    </div>

    <!-- Розклад -->
    <section class="panel-group timetable-accordion" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" ng-href="#/timetable/{{movie.currentMovie._id}}">
                        Розклад сеансів
                    </a>
                </h4>
            </div>
        </div>
    </section>

    <!-- Інформація про фільм -->
    <section class="row">
        <div class="col-lg-3 col-lg-offset-1 col-lg-push-8 col-md-3 col-md-offset-1 col-md-push-8 col-sm-3 col-sm-push-9">
            <img class="poster" ng-src={{movie.currentMovie.images.poster}}>
            <div class="info-item">
                <a ng-href={{movie.currentMovie.details.kinopoisk.href}}>
                    <img ng-src={{movie.currentMovie.details.kinopoisk.src}} border='0'>
                </a>
            </div>
            <div class="info">
                <div class="info-item">
                    <h6>Рік</h6>
                    <p>{{movie.currentMovie.details.year}}</p>
                </div>
                <div class="info-item">
                    <h6>Країна</h6>
                    <ul ng-repeat="country in movie.currentMovie.details.country">
                        <li>{{country}}</li>
                    </ul>
                </div>
                <div class="info-item">
                    <h6>В головних ролях</h6>
                    <ul>
                        <li ng-repeat="actor in movie.currentMovie.details.actors">{{actor}}</li>
                    </ul>
                </div>
                <div class="info-item">
                    <h6>Режисери</h6>
                    <ul>
                        <li ng-repeat="director in movie.currentMovie.details.directors">{{director}}</li>
                    </ul>
                </div>
                <div class="info-item">
                    <h6>Сценаристи</h6>
                    <ul>
                        <li ng-repeat="screenwriter in movie.currentMovie.details.screenwriters">{{screenwriter}}</li>
                    </ul>
                </div>
                <div class="info-item">
                    <h6>Композитори</h6>
                    <ul>
                        <li ng-repeat="composer in movie.currentMovie.details.composers">{{composer}}</li>
                    </ul>
                </div>
                <div class="info-item">
                    <h6>Продюсери</h6>
                    <ul>
                        <li ng-repeat="producer in movie.currentMovie.details.producers">{{producer}}</li>
                    </ul>
                </div>
                <div class="info-item">
                    <h6>Жанр</h6>
                    <p>{{movie.currentMovie.details.genres}}</p>
                </div>
                <div class="info-item">
                    <h6>Час</h6>
                    <p>{{movie.currentMovie.details.duration + ' хв'}}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-lg-pull-4 col-md-8 col-md-pull-4 col-sm-9 col-sm-pull-3 description">
            <p>{{movie.currentMovie.desc}}</p>
            <div class="fotorama" data-nav="thumbs" data-allowfullscreen="true" data-width="100%">
                <img ng-repeat="picture in movie.currentMovie.images.screenshots" ng-src={{picture}}>
            </div>
        </div>
    </section>
</section>

