<div class="container" id="news">
    <article class="row">
        <header>
            <h2>{{news.news.title}}</h2>
            <p>{{news.news.createdAt | date:'dd.MM.yyyy'}}</p>
        </header>
        <img class="col-lg-5" ng-src={{news.news.image}}>
        <div class="col-lg-7">
            <p>
                {{news.news.text}}
            </p>
        </div>
    </article>
</div>
