<div id="now-showing" class="container">
    <div class="row">

        <div class="col-lg-12">
            <h2 class="page-header">Сьогодні на екранах</h2>
        </div>

        <figure class="col-lg-2 col-md-3 col-sm-4 col-xs-6" ng-repeat="movie in now_showing.now_showing">
            <img class="thumbnail"  ng-src={{movie.images.thumbnail}}>
            <figcaption>
                <a ng-href="#movie/{{movie._id}}">
                    <h4>{{movie.title}}</h4>
                </a>
            </figcaption>
        </figure>
    </div>
</div>
