
<main id="order-page">
    <div class="row">
        <div class="col-lg-7">
            <div class="cinema-hall">
                <div class="display">екран</div>
                <div class="seats">
                    <div class="row-of-seats" id="row{{row}}" ng-repeat="(row, seats) in hall.currentHall.seats track by $index">
                        <div class="seat" ng-click="hall.selectSeat(seat)" ng-class="{'unavailable_seat': !seat.isAvailable, 'selected_seat': seat.isSelected}" ng-repeat="seat in seats track by $index"><span>{{seat.seat}}</span></div>
                        <span class="right">Ряд {{row}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <button ng-click="hall.order()">order</button>
        </div>
    </div>
</main>
