<section id="timetable-page" class="container-fluid">
    <div class="page-header">
        <h2>Розклад</h2>
    </div>
    <div class="row timetable-item" ng-repeat="movie in timetable.schedule track by $index">
        <div class="col-lg-2 col-md-3 col-sm-3">
            <a href="#">
                <img class="timetable-poster" ng-src="{{movie.moviePoster}}">
            </a>
        </div>
        <div class="col-lg-10 col-md-9 col-sm-9 timetable-part">
            <a ng-href="#/movie/{{movie.movieId}}">
                <h3>{{movie.movieName}}</h3>
            </a>
            <div class="some-data" ng-repeat="(date, shows) in movie.showings track by $index">
                <h4>{{date}}</h4>

                <div class="row" ng-repeat="show in shows track by $index">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 time"><a ng-href="#hall/{{show.hall.hallId}}/{{show._id}}">{{show.startTime | date : 'H:mm'}}</a></div>
                </div>
            </div>
        </div>
    </div>
</section>
