body {
  background: $black;
  color: $text-color;
}

header h1 {
  margin-left: 20px;
}

.navbar {
  border-radius: 0;
  background: darken($black, 5%);
  border-top: $borders;
  border-bottom: $borders;
}

footer {
  background: darken($black, 5%);
  border-top: $borders;
  margin-top: 20px;
  padding: 0 20px 20px;
}

p {
  span {
    display: block;
  }
}

.navbar-btn {
  background: lighten($black, 10%);
  color: $text-color;
}

.copyright {
  padding-top: 20px;
}
header{
  h1{
    text-align: center;
  }
}
a:hover{
  cursor: pointer;
}