#main-page {

  #top-carousel {
    margin: 0 auto;

    img {
      height: 400px !important;
      width: 100%;
    }

    .carousel-caption {
      text-align: left;

      .time{

        a{
          margin: 10px;
          background-color: rgba(0, 0, 0, 0.2);
        }
      }
    }
  }

  .last-news {
    background: darken($black, 5%);
    color: $text-color;
    border-top: $borders;
    border-bottom: $borders;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 20px 20px;

    img {
      width: 100%;
      border-radius: 10px;
    }
  }

  .movie-in-slider {
    padding-left: 30px;

    > p {
      color: darken($text-color, 25%);
    }
  }

  #bottom-carousel {
    margin-bottom: 20px;

    .carousel-inner {
      width: 90%;
      margin: 0 auto;
    }

    .carousel-control {
      width: 5%;
    }
  }
}
