.timetable-accordion{
  
  .panel {
    background-color: darken($black, 5%);
    border: $borders;
  }
  .some-data{
    margin: 20px;

    h4{
      font-weight: bold;
      margin-top: 15px;
    }

    .time{
      padding: 5px;
      a{
        background-color: $black;
        display: block;
        border-radius: 5px;
        text-align: center;
      }
    }
  }
}

.description{
  text-align: justify;
}

.poster{
  max-width: 150px;
  margin: 0 auto;
}

.imdb{
  margin-top: 15px;
}

.info{
  margin-bottom: 15px;
}

.info-item{
  color: #00afea;
  margin-top: 20px;
  ul{
    list-style: none;
    padding-left: 20px;
  }
  h6{
    color: $text-color;
    font-size: 0.9em;
    margin-bottom: 0;
  }
}
.fotorama-wrapper{
  margin-top: 40px;
}