#now-showing{
  .thumbnail {
    margin: 0 auto;
    background-color: lighten($black, 10%);
  }
  .page-header{
    border-bottom-color: #6F7980;
  }
  h1{
    color: $text-color;
  }
  h4{
    margin-bottom: 5px;
  }
  figure{
    margin: 0 auto 20px;
    text-align: center;
    color: $text-color;

  }
  figcaption{
    text-align: center;
  }
}
