#order-page{
  .cinema-hall{
    border: 1px solid #9A73DE;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    padding: 10px;
  }
  .display{
    width: 350px;
    height: 15px;
    border-radius: 20px 20px 0 0;
    background: #eee;
    color: #8d8d8d;
    padding-bottom: 5px;
  }
  .seats{
    display: inline-block;
    margin-top: 30px;
  }
  .row-of-seats{
    clear: both;
    border-bottom: 1px solid #eee;
  }
  .seat{
    height: 20px;
    width: 20px;
    background: #9A73DE;
    float: left;
    border-radius: 5px;
    margin: 3px 1px;
    cursor: pointer;
  }
  .seat span{
    color: #eee;
  }
  #row10, #row9, #row8, #row7, #row6{
    margin-left: 42px;
  }
  #row1, #row2, #row3, #row4, #row5{
    margin-left: 63px;
  }
  .right{
    float: right;
    margin-left: 20px;
    padding-top: 3px;
    color: #8d8d8d;
  }
  div.unavailable_seat {
    background: #999;
    cursor: default;
  }

  div.selected_seat{
    background: #C3C300;
  }
}