#timetable-page{
  .timetable-item{
    border-bottom: 1px solid #6F7980;
    margin-top: 30px;
    padding-bottom: 30px;
  }
  .timetable-part{
    padding-left: 40px;

    h3{
      margin-bottom: 20px;
      margin-top: 0;
      border-bottom: 1px solid #6F7980;
      padding-bottom: 5px;
    }
  }

  .some-data{

    h4{
      font-weight: bold;
      font-size: 1.1em;
    }

    .time{
      padding: 5px 10px;

      a{
        background-color: lighten($black, 10%);
        display: block;
        border-radius: 10px;
        text-align: center;
      }
    }
  }

  .timetable-poster{
    border-radius: 10px;
    width: 100%;
    max-width: 200px;
    display: block;
    margin: 0 auto;
  }
}
